@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700");

body {
  overflow-x: hidden;
}

.j-module .j-rss h1 a:link,
.j-module .j-rss h1 a:visited,
.j-module h1,
.j-module h2,
.j-module h3,
.j-module h4,
.j-static-page .j-rss h1 a:link,
.j-static-page .j-rss h1 a:visited,
.j-static-page h1,
.j-static-page h2,
.j-static-page h3,
.j-static-page h4,
.jtpl-footer .j-rss h1 a:link,
.jtpl-footer .j-rss h1 a:visited,
.jtpl-footer h1,
.jtpl-footer h2,
.jtpl-footer h3,
.jtpl-footer h4 {
  font-family: "Montserrat", sans-serif;
}

/* h1はモバイルでも中央揃え */
.j-module .j-rss h1 a:link,
.j-module .j-rss h1 a:visited,
.j-module h1,
.j-static-page .j-rss h1 a:link,
.j-static-page .j-rss h1 a:visited,
.j-static-page h1,
.jtpl-footer .j-rss h1 a:link,
.jtpl-footer .j-rss h1 a:visited,
.jtpl-footer h1 {
  text-align: center;
}

@media (max-width: 767px) {
  .j-module .j-website-title-content,
  .j-module h1,
  .j-static-page .j-website-title-content,
  .j-static-page h1 {
    font-size: 44px !important;
  }
}

/*トップページのMVの高さだけ帰る*/
.cc-page-index .jtpl-header {
  min-height: 300px;
}

/* ロゴのサイズ */
.jtpl-logo a img {
  max-width: 190px;
}

@media (max-width: 768px) {
  .jtpl-logo a img {
    max-width: 150px;
  }
}

/* パンくず削除 */
.jtpl-breadcrumbs {
  display: none !important;
}

/* カラムの余白 */
.cc-m-hgrid-column {
  margin-bottom: 20px;
}

.jtpl-main {
  line-height: 2.1;
  color: #222;
  font-family: "Montserrat", 游ゴシック体, "Yu Gothic", YuGothic, -apple-system,
    BlinkMacSystemFont, arial, sans-serif;
}

/*メインコンテンツの余白*/
@media (min-width: 1170px) {
  .jtpl-content__inner {
    padding: 130px 10px;
  }
}

@media (max-width: 767px) {
  .jtpl-content__inner {
    padding: 60px 12px;
  }
}

@media (min-width: 768px) {
  .jtpl-header__inner {
    max-width: 100%;
    padding: 0 15px;
  }
  .jtpl-navigation li {
    padding: 0 7px;
  }
  .navigation-colors a,
  .navigation-colors a:link,
  .navigation-colors a:visited {
    font-weight: 500;
  }
}

.jtpl-breadcrumb {
  display: none;
}

/* メインビジュアルの高さ調整 */
@media (min-width: 1170px) {
  .cc-indexpage .jtpl-header {
    height: 95vh;
    height: calc(100vh - 65px);
  }
}

.jtpl-navigation__inner a:link,
.jtpl-navigation__inner a:visited {
  padding: 22px 15px;
}

/*スマートフォンメニューの調整*/
.jtpl-navigation__borders {
  width: 24px;
}

@media (max-width: 1169px) {
  .jtpl-header {
    padding-top: 50px;
  }
}

.jtpl-navigation__borders,
.jtpl-navigation__borders:after,
.jtpl-navigation__borders:before {
  border-top-width: 2px;
}
.jtpl-navigation__borders:after {
  top: 7px;
}

.jtpl-mobile-topbar {
  position: fixed;
  top: 0;
  background: transparent;
  z-index: 1000000;
}

.jtpl-mobile-navigation {
  position: fixed;
  top: 0;
  padding-top: 32px;
  z-index: 10000;
  top: 50px;
}

.jtpl-navigation__label {
  top: 20px;
  left: 20px;
}

.jtpl-navigation__checkbox:checked + .jtpl-main .jtpl-header::after {
  position: fixed;
  background: #222;
}

.jtpl-mobile-navigation__inner a:link,
.jtpl-mobile-navigation__inner a:visited {
  border: 0 !important;
}

.jtpl-navigation__checkbox:checked
  + .jtpl-main
  .jtpl-navigation__label
  .jtpl-navigation__borders:after,
.jtpl-navigation__checkbox:checked
  + .jtpl-main
  .jtpl-navigation__label
  .jtpl-navigation__borders:before {
  border-top-width: 2px;
}
.jtpl-navigation__checkbox:checked
  + .jtpl-main
  .jtpl-navigation__label
  .jtpl-navigation__borders {
  border-top-width: 2px;
}
.jtpl-navigation__checkbox:checked
  + .jtpl-main
  .jtpl-navigation__label
  .jtpl-navigation__borders:after {
  top: -3.5px;
}
/*カラムの余白感を調整*/
.cc-m-hgrid-column > div {
  padding-right: 20px;
}

.cc-m-hgrid-column.last > div {
  padding-right: 0;
  padding-left: 20px;
}

@media (max-width: 768px) {
  .cc-m-hgrid-column > div,
  .cc-m-hgrid-column.last > div {
    padding: 0;
  }
}
@media (max-width: 768px) {
  .jtpl-logo {
    position: relative;
    top: -23px;
  }
}

.cc-pagemode-overlay #password,
.com-meta input[type="text"],
.com-meta input[type="date"],
.com-meta textarea,
.commententry input[type="text"],
.commententry input[type="date"],
.commententry textarea,
.j-checkout__input-field,
.j-formnew .cc-m-form-view-sortable input[type="text"],
.j-formnew .cc-m-form-view-sortable input[type="date"],
.j-formnew .cc-m-form-view-sortable input[type="email"],
.j-formnew .cc-m-form-view-sortable textarea,
.j-googlemaps .cc-map-route-start {
  border-width: 1px !important;
  color: #222;
}

/*ギャラリーの最大幅*/
#page-1650006086 .j-gallery,
#page-1650006386 .j-gallery {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  padding: 0;
}

/*ボタンのスタイル*/
.j-callToAction .j-calltoaction-link-style-1 {
  border: 1px solid #222;
  background: #222;
  color: #fafafa !important;
  padding: 15px 40px;
  border-radius: 0px;
}

.j-callToAction .j-calltoaction-link-style-1:hover {
  background: #333;
}

.j-callToAction .j-calltoaction-link-style-2 {
  border: 1px solid #222;
  color: #222;
  background: transparent;
  border-radius: 0;
  padding: 12px 40px;
}

.j-callToAction .j-calltoaction-link-style-2:hover {
  background: #222;
  color: #fafafa;
}

.j-callToAction .j-calltoaction-link-style-3 {
  border: 1px solid rgba(255, 255, 255, 0.8);
  color: #222;
  background: transparent;
  border-radius: 0;
  padding: 12px 40px;
}

.j-callToAction .j-calltoaction-link-style-3:hover {
  background: rgba(255, 255, 255, 0.2);
}

.bm-contents-01 {
  border: 1px solid #ccc;
  padding: 40px;
}

.bm-contents-02 {
  background-color: #222;
  color: #fff;
  padding: 40px;
}

/* h1をオーバーライド */
.content-options
  h1:not(.cc-within-single-module-element):not(.j-blog-headline) {
  text-transform: none;
  text-align: center;
  font-weight: 500;
  font-size: 32px;
  letter-spacing: 0.15em;
  margin-bottom: 60px;
}

@media (max-width: 768px) {
  .content-options
    h1:not(.cc-within-single-module-element):not(.j-blog-headline) {
    font-size: 26px !important;
    line-height: 1.5;
    margin-bottom: 32px;
  }
}

/* h2をオーバーライド */
.content-options h2:not(.j-blog-headline):not(.j-blog-comment-counter) {
  font-size: 27px !important;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .content-options h2:not(.j-blog-headline):not(.j-blog-comment-counter) {
    font-size: 24px !important;
  }
}

/* h3をオーバーライド */
.content-options h3:not(.j-blog-headline):not(.j-blog-comment-counter) {
  font-size: 23px !important;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .content-options h3:not(.j-blog-headline):not(.j-blog-comment-counter) {
    font-size: 20px !important;
  }
}

/* オリジナルサブタイトル */
.bm-subtitle {
  text-align: center;
  letter-spacing: 0.3em;
  font-weight: 400;
  font-size: 22px;
}

@media (max-width: 768px) {
  .bm-subtitle {
    font-size: 16px;
  }
}

/* ブログ */
.j-blogarticle .j-text p > a {
  display: inline-block;
  border: 1px solid #222;
  background: #222;
  color: #fafafa !important;
  padding: 7px 30px;
  margin-top: 8px;
  border-radius: 0px;
}

.j-blog .content-options h3 {
  margin-top: 40px;
  margin-bottom: 10px;
}

.j-blog .j-blog-header {
  margin-bottom: 30px;
}

/* フッター */
.jtpl-section-aside {
  background-color: #222;
  font-size: 90%;
}

.jtpl-section-aside a {
  color: #fff !important;
}

.bm-footer-tel {
  text-align: center;
  font-size: 39px;
  margin-top: -20px;
}
.bm-footer-tel a {
  text-decoration: none !important;
  color: #fff !important;
}

@media (max-width: 768px) {
  .bm-footer-tel {
    margin-top: 0px;
    font-size: 24px;
  }
  .bm-footer-tel a {
    border: 1px solid #9c9c9c;
    padding: 10px 15px;
  }
}

/* hr */
.j-hr hr {
  border-top-width: 0;
  width: 50%;
}

/* トップへ戻る */
.cc-FloatingButtonBarContainer li a {
  border-radius: 0;
}

/* トップのロゴはアニメーション */
@keyframes my-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#page-1650006086 .jtpl-logo {
  animation-name: my-fade-in;
  animation-duration: 3s;
}

/* ナビの固定化 */
.jtpl-navigation--fixed-top .jtpl-navigation__inner {
  background-color: #fff;
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.05);
}

.jtpl-navigation--fixed-top .j-nav-current > a:link,
.jtpl-navigation--fixed-top .j-nav-current > a:visited,
.jtpl-navigation--fixed-top .j-nav-parent > a:link,
.jtpl-navigation--fixed-top .j-nav-parent > a:visited {
  color: #4e5056;
}
